
   INFO  Running migrations.  

  0001_01_01_000000_create_users_table ....  
  Γçé create table `users` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `email` varchar(255) not null, `email_verified_at` timestamp null, `password` varchar(255) not null, `remember_token` varchar(100) null, `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `users` add unique `users_email_unique`(`email`)  
  Γçé create table `password_reset_tokens` (`email` varchar(255) not null, `token` varchar(255) not null, `created_at` timestamp null, primary key (`email`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé create table `sessions` (`id` varchar(255) not null, `user_id` bigint unsigned null, `ip_address` varchar(45) null, `user_agent` text null, `payload` longtext not null, `last_activity` int not null, primary key (`id`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `sessions` add index `sessions_user_id_index`(`user_id`)  
  Γçé alter table `sessions` add index `sessions_last_activity_index`(`last_activity`)  
  0001_01_01_000001_create_cache_table ....  
  Γçé create table `cache` (`key` varchar(255) not null, `value` mediumtext not null, `expiration` int not null, primary key (`key`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé create table `cache_locks` (`key` varchar(255) not null, `owner` varchar(255) not null, `expiration` int not null, primary key (`key`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  0001_01_01_000002_create_jobs_table .....  
  Γçé create table `jobs` (`id` bigint unsigned not null auto_increment primary key, `queue` varchar(255) not null, `payload` longtext not null, `attempts` tinyint unsigned not null, `reserved_at` int unsigned null, `available_at` int unsigned not null, `created_at` int unsigned not null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `jobs` add index `jobs_queue_index`(`queue`)  
  Γçé create table `job_batches` (`id` varchar(255) not null, `name` varchar(255) not null, `total_jobs` int not null, `pending_jobs` int not null, `failed_jobs` int not null, `failed_job_ids` longtext not null, `options` mediumtext null, `cancelled_at` int null, `created_at` int not null, `finished_at` int null, primary key (`id`)) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé create table `failed_jobs` (`id` bigint unsigned not null auto_increment primary key, `uuid` varchar(255) not null, `connection` text not null, `queue` text not null, `payload` longtext not null, `exception` longtext not null, `failed_at` timestamp not null default CURRENT_TIMESTAMP) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  
  Γçé alter table `failed_jobs` add unique `failed_jobs_uuid_unique`(`uuid`)  
  2025_12_20_113518_create_products_table .  
  Γçé create table `products` (`id` bigint unsigned not null auto_increment primary key, `name` varchar(255) not null, `category` varchar(255) not null, `subcategory` varchar(255) not null, `price` decimal(10, 2) not null, `original_price` decimal(10, 2) null, `stock` int not null, `colors` json null, `sizes` json null, `description` text null, `image` varchar(255) null, `gallery_images` json null, `status` varchar(255) not null default 'active', `created_at` timestamp null, `updated_at` timestamp null) default character set utf8mb4 collate 'utf8mb4_unicode_ci'  

